.env
.venv
.tailwindcss-cli
.vscode
.claude
.pytest_cache
.ruff_cache
.github
.git
.scratch
docs
tests
**/__pycache__
*.pyc
**/*.sql
**/*.sqlite3
**/*.log
**/.DS_Store
README.md
LICENSE
TODO.md
CLAUDE.md
CONTEXT.md
mise.toml
.python-version
ruff.toml
skills-lock.json